#
# 
# Copyright (c) 2012-2014 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#

#
# Predix Machine - 16.1.0
#
# Configuration properties for the Predix Machine WoodwardAnalytics
#
# Service_PID = com.ge.power.cst.woodwardanalytics
#

# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>

# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

#the data sample rate to use in milliseconds
com.ge.power.cst.actuatoranalytics.sampleRate=I"1000"

#the db collection rate for raw data (rate at which raw data
#	shall get inserted in the DEVICE_DATA_RAW db table) in
#	minutes 
com.ge.power.cst.actuatoranalytics.dbCollectionRate_Raw=L"1"

#the db Level 1 compression rate (rate at which
#	raw data shall be compressed from DEVICE_DATA_RAW table and
#	inserted in the DEVICE_DATA_COMPRESSION_1 db table) in
#	minutes
com.ge.power.cst.actuatoranalytics.dbCompressionRate_1=L"1440"

#the db Level 1 compression rate (rate at which
#	the data shall be compressed from DEVICE_DATA_COMPRESSION_1 table and
#	inserted in the DEVICE_DATA_COMPRESSION_2 db table) in
#	minutes
com.ge.power.cst.actuatoranalytics.dbCompressionRate_2=L"5"

#the db collection rate for Level 2 compression (rate at which
#	the data shall be deleted from DEVICE_DATA_COMPRESSION_2
#	table) in
#	minutes
com.ge.power.cst.actuatoranalytics.dbCollectionRate_Compression3=L"5"

#the machine adapter to connect to source - OPCUA | ACTUATOR...
com.ge.power.cst.actuatoranalytics.machineAdapter="ACTUATOR"

#specify if the CSV reports are to be generated
com.ge.power.cst.actuatoranalytics.isGenerateCsvReports=B"true"

#directory path where csv reports are to be created
com.ge.power.cst.actuatoranalytics.csvReportFolder="C:\\PredixMachine16.3.0\\Projects\\Containers\\pm-actapp\\appdata\\csv-reports\\"

#factory test is in progress
com.ge.power.cst.actuatoranalytics.isFactoryTest=B"true"

#calibration is in progress
com.ge.power.cst.actuatoranalytics.isCalibrationInProgress=B"false"

#Reset baselines and clear historical data before calibration
com.ge.power.cst.actuatoranalytics.isRestDataBeforeCalibration=B"false"

#########SERVO FASV CLOSING TIME RELATED PROPERTIES#########
#Servo Closing Time Deviation Action Limit - Used as warning
com.ge.power.cst.actuatoranalytics.servoClosingDeviationActionLimit=D"15.0"

#Servo Closing Time Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.servoClosingDeviationAlarmLimit=D"20.0"

#FASV Closing Time Deviation Action Limit - Used as warning
com.ge.power.cst.actuatoranalytics.fasvClosingDeviationActionLimit=D"25.0"

#FASV Closing Time Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.fasvClosingDeviationAlarmLimit=D"30.0"

#########CONTROL HYSTERESIS RELATED PROPERTIES#########
#Rate at which the data related to control hysteresis analytic has to be collected (in minutes)
com.ge.power.cst.actuatoranalytics.ctlHystsCollectionRate=I"3"

#Control Hysteresis Position Deviation Alarm Limit - Used as warning
com.ge.power.cst.actuatoranalytics.ctlHystsPosDevActionLimit=D"15.0"

#Control Hysteresis Position Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.ctlHystsPosDevAlarmLimit=D"20.0"

#Control Hysteresis Pressure Deviation Alarm Limit - Used as warning
com.ge.power.cst.actuatoranalytics.ctlHystsPressDevActionLimit=D"25.0"

#Control Hysteresis Pressure Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.ctlHystsPressDevAlarmLimit=D"30.0"

#Position lower limit - start collecting control hysteresis data when Position is greater than this number
com.ge.power.cst.actuatoranalytics.ctlHystsPosLimit_gt=D"5.0"

#Position upper limit - start collecting control hysteresis data when Position is less than this number
com.ge.power.cst.actuatoranalytics.ctlHystsPosLimit_lt=D"50.0"

#Speed lower limit - start collecting control hysteresis data when Speed is greater than this number
com.ge.power.cst.actuatoranalytics.ctlHystsSpeedLimit_gt=D"2950.0"

#Inlet Pressure lower limit - start collecting control hysteresis data when Inlet Pressure is greater than this number
com.ge.power.cst.actuatoranalytics.ctlHystsInletPressLimit_gt=D"100.0"

#########VALVE HYSTERESIS RELATED PROPERTIES#########
#Valve Hysteresis Pup Closing Deviation Alarm Limit - Used as warning
com.ge.power.cst.actuatoranalytics.vlvHystsPupClosingDevActionLimit=D"35.0"

#Valve Hysteresis Pup Closing Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.vlvHystsPupClosingDevAlarmLimit=D"40.0"

#Valve Hysteresis Pup Opening Deviation Alarm Limit - Used as warning
com.ge.power.cst.actuatoranalytics.vlvHystsPupOpeningDevActionLimit=D"45.0"

#Valve Hysteresis Pup Opening Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.vlvHystsPupOpeningDevAlarmLimit=D"50.0"

#Valve Hysteresis Pdp Deviation Alarm Limit - Used as warning
com.ge.power.cst.actuatoranalytics.vlvHystsPdpDevActionLimit=D"55.0"

#Valve Hysteresis Pdp Deviation Alarm Limit - Used to predict failure date
com.ge.power.cst.actuatoranalytics.vlvHystsPdpDevAlarmLimit=D"60.0"

#Inlet Pressure lower limit - start collecting valve hysteresis data for hot condition when Inlet Pressure is greater than this number
com.ge.power.cst.actuatoranalytics.vlvHystsInletPressLimitHot_gt=D"600.0"
