#JDBC User Name to connect to database
com.ge.power.cst.actuatoranalytics.connectionmanagerprovider.jdbcUser="actapp"

#JDBC password to connect to database
com.ge.power.cst.actuatoranalytics.connectionmanagerprovider.jdbcPassword="actapp"

#JDBC connection url to connect to database
com.ge.power.cst.actuatoranalytics.connectionmanagerprovider.jdbcUrl="jdbc:h2:tcp://localhost/C:\\PredixMachine16.3.0\\Projects\\Containers\\pm-actapp\\appdata\\db\\actapp"
